body{
    background: #d6dcdee0;
}
.head{
    display: inline-flex;
    gap: 50px;
    background: white;
    height: 60px;
    margin-left: 40px;
    width: 720px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: rgba(136, 135, 135, 0.7);
    position: fixed;
    margin-top: -100px;
}
.head h1{
    text-align: center;
    margin-left: 290px;
    margin-top: 6px;
    cursor:pointer;
    height: 40px;
   
}
.head h1:hover{
    color: aqua;
    border-bottom: 5px solid aqua;
    border-top: 5px solid aqua;

}
.body {
    margin-top: 140px;
    height: 300px;
    width: 300px;
    word-wrap: break-word;
    background: white;
    box-sizing: border-box;
    box-shadow: rgba(90, 89, 89, 0.7);
    margin-left: 250px;
    border: 2px solid black;
    border-radius: 5px;

  
}
.body .edu h1{
    margin-left: 75px;
    border: 2px solid black;
    width: 150px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}
.body .edu h1:hover{
    background: aquamarine;
}
.body .edu .bca h3{
    margin-left: 100px;
    cursor: pointer;
} 
.body .edu .bca p{
    margin-left: 30px;
    align-items: center;
}
.body .edu .high h3{
    margin-left: 90px;
}
.body .edu .high p{
    margin-left: 26px;
}